<div class="layout">

    <!-- LEFT PANEL -->
    <div class="form-panel">

        <h2>Create QR Code</h2>

        <!-- URL -->
        <div class="form-group">
            <label>URL</label>
            <input type="text" [(ngModel)]="url" (ngModelChange)="updateQR()" placeholder="https://example.com">
        </div>

        <!-- FORMAT -->
        <div class="form-group">
            <label>Format</label>
            <select [(ngModel)]="format" (ngModelChange)="updateQR()">
                <option *ngFor="let f of formats" [value]="f">
                    {{ f }}
                </option>
            </select>
        </div>

        <!-- SIZE -->
        <div class="form-group">
            <label>QR Size (px)</label>
            <input type="number" min="150" max="600" [(ngModel)]="size" (ngModelChange)="updateQR()">
        </div>

        <!-- COLORS -->
        <div class="color-row">

            <!-- FOREGROUND -->
            <div class="color-box">
                <label>Foreground</label>
                <div class="color-control">
                    <input type="color" [(ngModel)]="foregroundColor" (ngModelChange)="updateQR()">

                    <input type="text" maxlength="7" class="hex-input" [(ngModel)]="foregroundColor"
                        (ngModelChange)="updateQR()">
                </div>
            </div>

            <!-- BACKGROUND -->
            <div class="color-box">
                <label>Background</label>
                <div class="color-control">
                    <input type="color" [(ngModel)]="backgroundColor" (ngModelChange)="updateQR()">

                    <input type="text" maxlength="7" class="hex-input" [(ngModel)]="backgroundColor"
                        (ngModelChange)="updateQR()">
                </div>
            </div>

        </div>

        <!-- LOGO SECTION -->
        <div class="form-group">
            <label>Logo (Optional)</label>

            <div class="logo-drop-zone" [class.dragging]="isDragging" (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">

                <!-- IF NO LOGO -->
                <ng-container *ngIf="!logoFile">
                    <p>Drag & drop logo here</p>
                    <span>or</span>

                    <input type="file" accept="image/*" hidden #logoInput (change)="onLogoUpload($event)">

                    <button type="button" class="logo-btn" (click)="logoInput.click()">
                        Choose File
                    </button>
                </ng-container>

                <!-- IF LOGO EXISTS -->
                <ng-container *ngIf="logoFile">

                    <div class="logo-preview" [class.visible]="logoVisible" [class.circular]="circularLogo">

                        <img [src]="logoFile" alt="Logo preview">
                    </div>

                    <button type="button" class="remove-btn" (click)="removeLogo()">
                        Remove Logo
                    </button>

                </ng-container>

            </div>
        </div>


        <!-- <div class="form-group" *ngIf="logoFile">
            <label>Logo Size</label>

            <input type="range" min="0.2" max="0.6" step="0.05" [(ngModel)]="logoSize" (ngModelChange)="updateQR()">
        </div>

        
        <div class="form-group" *ngIf="logoFile">
            <label class="toggle-label">
                <input type="checkbox" [(ngModel)]="circularLogo">
                Circular Logo Mask
            </label>
        </div> -->
        </div>

        <!-- RIGHT PANEL -->
        <div class="preview-panel">

            <div class="preview-content">

                <!-- INSTRUCTION STATE -->
                <div *ngIf="!qrGenerated" class="instructions">
                    Enter a URL, adjust the style,
                    and your QR code will appear here.
                </div>

                <!-- QR DISPLAY -->
                <div #qrContainer class="qr-box" [class.qr-visible]="qrGenerated">
                </div>

                <!-- DOWNLOAD BUTTON -->
                <button *ngIf="qrGenerated" class="download-btn" (click)="downloadQR()">
                    Download
                </button>

            </div>

        </div>

    </div>